.wp-block-prc-block-form-submit:not(.wp-block) {
	&:not(.captcha-hidden) {
		.wp-block-prc-block-form-submit__captcha {
			display: block;
		}
		button,
		mark {
			display: none;
		}
	}
	&.captcha-hidden {
		.wp-block-prc-block-form-submit__captcha {
			display: none;
		}
		button,
		mark {
			display: unset;
		}
	}
	button {
		&[disabled] {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}
}
